/**
 * ChronoSheets API
 * ChronoSheets is a flexible timesheet solution for small to medium businesses, it is free for small teams of up to 5 and there are iOS and Android apps available.  Use the ChronoSheets API to create your own custom integrations.
 *
 * OpenAPI spec version: v1
 * Contact: lachlan@chronosheets.com
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package ChronoSheetsClientLibApi;

import ChronoSheetsClient.ApiInvoker;
import ChronoSheetsClient.ApiException;
import ChronoSheetsClient.Pair;

import ChronoSheetsClientLibModel.*;

import java.util.*;

import com.android.volley.Response;
import com.android.volley.VolleyError;

import ChronoSheetsClientLibModel.CsApiApiResponseCombinedReportsData;
import ChronoSheetsClientLibModel.CsApiApiResponseForPaginatedListOrgReportTimesheetFileAttachment;
import ChronoSheetsClientLibModel.CsApiApiResponseForPaginatedListOrgReportTrip;
import ChronoSheetsClientLibModel.CsApiApiResponseForPaginatedListRawReportItem;
import ChronoSheetsClientLibModel.CsApiApiResponseListJobSeriesReportItem;
import ChronoSheetsClientLibModel.CsApiApiResponseListProjectCostingReportItem;
import ChronoSheetsClientLibModel.CsApiApiResponseTrip;
import java.util.Date;

import org.apache.http.HttpEntity;
import org.apache.http.entity.mime.MultipartEntityBuilder;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.concurrent.ExecutionException;
import java.util.concurrent.TimeoutException;

public class ReportsApi {
  String basePath = "https://www.chronosheets.com";
  ApiInvoker apiInvoker = ApiInvoker.getInstance();

  public void addHeader(String key, String value) {
    getInvoker().addDefaultHeader(key, value);
  }

  public ApiInvoker getInvoker() {
    return apiInvoker;
  }

  public void setBasePath(String basePath) {
    this.basePath = basePath;
  }

  public String getBasePath() {
    return basePath;
  }

  /**
  * Get Consolidated Admin Reports Data (Jobs, Tasks, Clients and Projects)
  * 
   * @param startDate 
   * @param endDate 
   * @param userIds 
   * @param xChronosheetsAuth The ChronoSheets Auth Token
   * @return CsApiApiResponseCombinedReportsData
  */
  public CsApiApiResponseCombinedReportsData reportsGetAllChartsDataAdmin (Date startDate, Date endDate, String userIds, String xChronosheetsAuth) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'startDate' is set
    if (startDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'startDate' when calling reportsGetAllChartsDataAdmin",
        new ApiException(400, "Missing the required parameter 'startDate' when calling reportsGetAllChartsDataAdmin"));
    }
    // verify the required parameter 'endDate' is set
    if (endDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'endDate' when calling reportsGetAllChartsDataAdmin",
        new ApiException(400, "Missing the required parameter 'endDate' when calling reportsGetAllChartsDataAdmin"));
    }
    // verify the required parameter 'userIds' is set
    if (userIds == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'userIds' when calling reportsGetAllChartsDataAdmin",
        new ApiException(400, "Missing the required parameter 'userIds' when calling reportsGetAllChartsDataAdmin"));
    }
    // verify the required parameter 'xChronosheetsAuth' is set
    if (xChronosheetsAuth == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xChronosheetsAuth' when calling reportsGetAllChartsDataAdmin",
        new ApiException(400, "Missing the required parameter 'xChronosheetsAuth' when calling reportsGetAllChartsDataAdmin"));
    }

    // create path and map variables
    String path = "/api/Reports/GetAllChartsDataAdmin";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "StartDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "EndDate", endDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "UserIds", userIds));
    headerParams.put("x-chronosheets-auth", ApiInvoker.parameterToString(xChronosheetsAuth));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (CsApiApiResponseCombinedReportsData) ApiInvoker.deserialize(localVarResponse, "", CsApiApiResponseCombinedReportsData.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Consolidated Admin Reports Data (Jobs, Tasks, Clients and Projects)
   * 
   * @param startDate    * @param endDate    * @param userIds    * @param xChronosheetsAuth The ChronoSheets Auth Token
  */
  public void reportsGetAllChartsDataAdmin (Date startDate, Date endDate, String userIds, String xChronosheetsAuth, final Response.Listener<CsApiApiResponseCombinedReportsData> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'startDate' is set
    if (startDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'startDate' when calling reportsGetAllChartsDataAdmin",
        new ApiException(400, "Missing the required parameter 'startDate' when calling reportsGetAllChartsDataAdmin"));
    }
    // verify the required parameter 'endDate' is set
    if (endDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'endDate' when calling reportsGetAllChartsDataAdmin",
        new ApiException(400, "Missing the required parameter 'endDate' when calling reportsGetAllChartsDataAdmin"));
    }
    // verify the required parameter 'userIds' is set
    if (userIds == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'userIds' when calling reportsGetAllChartsDataAdmin",
        new ApiException(400, "Missing the required parameter 'userIds' when calling reportsGetAllChartsDataAdmin"));
    }
    // verify the required parameter 'xChronosheetsAuth' is set
    if (xChronosheetsAuth == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xChronosheetsAuth' when calling reportsGetAllChartsDataAdmin",
        new ApiException(400, "Missing the required parameter 'xChronosheetsAuth' when calling reportsGetAllChartsDataAdmin"));
    }

    // create path and map variables
    String path = "/api/Reports/GetAllChartsDataAdmin".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "StartDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "EndDate", endDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "UserIds", userIds));

    headerParams.put("x-chronosheets-auth", ApiInvoker.parameterToString(xChronosheetsAuth));

    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((CsApiApiResponseCombinedReportsData) ApiInvoker.deserialize(localVarResponse,  "", CsApiApiResponseCombinedReportsData.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Consolidated User Reports Data (Jobs and Tasks)
  * 
   * @param startDate 
   * @param endDate 
   * @param xChronosheetsAuth The ChronoSheets Auth Token
   * @return CsApiApiResponseCombinedReportsData
  */
  public CsApiApiResponseCombinedReportsData reportsGetAllChartsDataUser (Date startDate, Date endDate, String xChronosheetsAuth) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'startDate' is set
    if (startDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'startDate' when calling reportsGetAllChartsDataUser",
        new ApiException(400, "Missing the required parameter 'startDate' when calling reportsGetAllChartsDataUser"));
    }
    // verify the required parameter 'endDate' is set
    if (endDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'endDate' when calling reportsGetAllChartsDataUser",
        new ApiException(400, "Missing the required parameter 'endDate' when calling reportsGetAllChartsDataUser"));
    }
    // verify the required parameter 'xChronosheetsAuth' is set
    if (xChronosheetsAuth == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xChronosheetsAuth' when calling reportsGetAllChartsDataUser",
        new ApiException(400, "Missing the required parameter 'xChronosheetsAuth' when calling reportsGetAllChartsDataUser"));
    }

    // create path and map variables
    String path = "/api/Reports/GetAllChartsDataUser";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "StartDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "EndDate", endDate));
    headerParams.put("x-chronosheets-auth", ApiInvoker.parameterToString(xChronosheetsAuth));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (CsApiApiResponseCombinedReportsData) ApiInvoker.deserialize(localVarResponse, "", CsApiApiResponseCombinedReportsData.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Consolidated User Reports Data (Jobs and Tasks)
   * 
   * @param startDate    * @param endDate    * @param xChronosheetsAuth The ChronoSheets Auth Token
  */
  public void reportsGetAllChartsDataUser (Date startDate, Date endDate, String xChronosheetsAuth, final Response.Listener<CsApiApiResponseCombinedReportsData> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'startDate' is set
    if (startDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'startDate' when calling reportsGetAllChartsDataUser",
        new ApiException(400, "Missing the required parameter 'startDate' when calling reportsGetAllChartsDataUser"));
    }
    // verify the required parameter 'endDate' is set
    if (endDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'endDate' when calling reportsGetAllChartsDataUser",
        new ApiException(400, "Missing the required parameter 'endDate' when calling reportsGetAllChartsDataUser"));
    }
    // verify the required parameter 'xChronosheetsAuth' is set
    if (xChronosheetsAuth == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xChronosheetsAuth' when calling reportsGetAllChartsDataUser",
        new ApiException(400, "Missing the required parameter 'xChronosheetsAuth' when calling reportsGetAllChartsDataUser"));
    }

    // create path and map variables
    String path = "/api/Reports/GetAllChartsDataUser".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "StartDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "EndDate", endDate));

    headerParams.put("x-chronosheets-auth", ApiInvoker.parameterToString(xChronosheetsAuth));

    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((CsApiApiResponseCombinedReportsData) ApiInvoker.deserialize(localVarResponse,  "", CsApiApiResponseCombinedReportsData.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get trip by Id, for reporting purposes
  * 
   * @param tripId The ID of the trip
   * @param xChronosheetsAuth The ChronoSheets Auth Token
   * @return CsApiApiResponseTrip
  */
  public CsApiApiResponseTrip reportsGetOrgTripById (Integer tripId, String xChronosheetsAuth) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'tripId' is set
    if (tripId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'tripId' when calling reportsGetOrgTripById",
        new ApiException(400, "Missing the required parameter 'tripId' when calling reportsGetOrgTripById"));
    }
    // verify the required parameter 'xChronosheetsAuth' is set
    if (xChronosheetsAuth == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xChronosheetsAuth' when calling reportsGetOrgTripById",
        new ApiException(400, "Missing the required parameter 'xChronosheetsAuth' when calling reportsGetOrgTripById"));
    }

    // create path and map variables
    String path = "/api/Reports/GetOrgTripById";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "TripId", tripId));
    headerParams.put("x-chronosheets-auth", ApiInvoker.parameterToString(xChronosheetsAuth));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (CsApiApiResponseTrip) ApiInvoker.deserialize(localVarResponse, "", CsApiApiResponseTrip.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get trip by Id, for reporting purposes
   * 
   * @param tripId The ID of the trip   * @param xChronosheetsAuth The ChronoSheets Auth Token
  */
  public void reportsGetOrgTripById (Integer tripId, String xChronosheetsAuth, final Response.Listener<CsApiApiResponseTrip> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'tripId' is set
    if (tripId == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'tripId' when calling reportsGetOrgTripById",
        new ApiException(400, "Missing the required parameter 'tripId' when calling reportsGetOrgTripById"));
    }
    // verify the required parameter 'xChronosheetsAuth' is set
    if (xChronosheetsAuth == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xChronosheetsAuth' when calling reportsGetOrgTripById",
        new ApiException(400, "Missing the required parameter 'xChronosheetsAuth' when calling reportsGetOrgTripById"));
    }

    // create path and map variables
    String path = "/api/Reports/GetOrgTripById".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "TripId", tripId));

    headerParams.put("x-chronosheets-auth", ApiInvoker.parameterToString(xChronosheetsAuth));

    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((CsApiApiResponseTrip) ApiInvoker.deserialize(localVarResponse,  "", CsApiApiResponseTrip.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Reports on Organisation timesheet file attachments
  * 
   * @param startDate 
   * @param endDate 
   * @param skip 
   * @param take 
   * @param userIds 
   * @param xChronosheetsAuth The ChronoSheets Auth Token
   * @return CsApiApiResponseForPaginatedListOrgReportTimesheetFileAttachment
  */
  public CsApiApiResponseForPaginatedListOrgReportTimesheetFileAttachment reportsGetOrganisationTimesheetFileAttachments (Date startDate, Date endDate, Integer skip, Integer take, String userIds, String xChronosheetsAuth) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'startDate' is set
    if (startDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'startDate' when calling reportsGetOrganisationTimesheetFileAttachments",
        new ApiException(400, "Missing the required parameter 'startDate' when calling reportsGetOrganisationTimesheetFileAttachments"));
    }
    // verify the required parameter 'endDate' is set
    if (endDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'endDate' when calling reportsGetOrganisationTimesheetFileAttachments",
        new ApiException(400, "Missing the required parameter 'endDate' when calling reportsGetOrganisationTimesheetFileAttachments"));
    }
    // verify the required parameter 'skip' is set
    if (skip == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'skip' when calling reportsGetOrganisationTimesheetFileAttachments",
        new ApiException(400, "Missing the required parameter 'skip' when calling reportsGetOrganisationTimesheetFileAttachments"));
    }
    // verify the required parameter 'take' is set
    if (take == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'take' when calling reportsGetOrganisationTimesheetFileAttachments",
        new ApiException(400, "Missing the required parameter 'take' when calling reportsGetOrganisationTimesheetFileAttachments"));
    }
    // verify the required parameter 'userIds' is set
    if (userIds == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'userIds' when calling reportsGetOrganisationTimesheetFileAttachments",
        new ApiException(400, "Missing the required parameter 'userIds' when calling reportsGetOrganisationTimesheetFileAttachments"));
    }
    // verify the required parameter 'xChronosheetsAuth' is set
    if (xChronosheetsAuth == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xChronosheetsAuth' when calling reportsGetOrganisationTimesheetFileAttachments",
        new ApiException(400, "Missing the required parameter 'xChronosheetsAuth' when calling reportsGetOrganisationTimesheetFileAttachments"));
    }

    // create path and map variables
    String path = "/api/Reports/GetOrganisationTimesheetFileAttachments";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "StartDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "EndDate", endDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "Skip", skip));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "Take", take));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "UserIds", userIds));
    headerParams.put("x-chronosheets-auth", ApiInvoker.parameterToString(xChronosheetsAuth));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (CsApiApiResponseForPaginatedListOrgReportTimesheetFileAttachment) ApiInvoker.deserialize(localVarResponse, "", CsApiApiResponseForPaginatedListOrgReportTimesheetFileAttachment.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Reports on Organisation timesheet file attachments
   * 
   * @param startDate    * @param endDate    * @param skip    * @param take    * @param userIds    * @param xChronosheetsAuth The ChronoSheets Auth Token
  */
  public void reportsGetOrganisationTimesheetFileAttachments (Date startDate, Date endDate, Integer skip, Integer take, String userIds, String xChronosheetsAuth, final Response.Listener<CsApiApiResponseForPaginatedListOrgReportTimesheetFileAttachment> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'startDate' is set
    if (startDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'startDate' when calling reportsGetOrganisationTimesheetFileAttachments",
        new ApiException(400, "Missing the required parameter 'startDate' when calling reportsGetOrganisationTimesheetFileAttachments"));
    }
    // verify the required parameter 'endDate' is set
    if (endDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'endDate' when calling reportsGetOrganisationTimesheetFileAttachments",
        new ApiException(400, "Missing the required parameter 'endDate' when calling reportsGetOrganisationTimesheetFileAttachments"));
    }
    // verify the required parameter 'skip' is set
    if (skip == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'skip' when calling reportsGetOrganisationTimesheetFileAttachments",
        new ApiException(400, "Missing the required parameter 'skip' when calling reportsGetOrganisationTimesheetFileAttachments"));
    }
    // verify the required parameter 'take' is set
    if (take == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'take' when calling reportsGetOrganisationTimesheetFileAttachments",
        new ApiException(400, "Missing the required parameter 'take' when calling reportsGetOrganisationTimesheetFileAttachments"));
    }
    // verify the required parameter 'userIds' is set
    if (userIds == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'userIds' when calling reportsGetOrganisationTimesheetFileAttachments",
        new ApiException(400, "Missing the required parameter 'userIds' when calling reportsGetOrganisationTimesheetFileAttachments"));
    }
    // verify the required parameter 'xChronosheetsAuth' is set
    if (xChronosheetsAuth == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xChronosheetsAuth' when calling reportsGetOrganisationTimesheetFileAttachments",
        new ApiException(400, "Missing the required parameter 'xChronosheetsAuth' when calling reportsGetOrganisationTimesheetFileAttachments"));
    }

    // create path and map variables
    String path = "/api/Reports/GetOrganisationTimesheetFileAttachments".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "StartDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "EndDate", endDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "Skip", skip));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "Take", take));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "UserIds", userIds));

    headerParams.put("x-chronosheets-auth", ApiInvoker.parameterToString(xChronosheetsAuth));

    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((CsApiApiResponseForPaginatedListOrgReportTimesheetFileAttachment) ApiInvoker.deserialize(localVarResponse,  "", CsApiApiResponseForPaginatedListOrgReportTimesheetFileAttachment.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Reports on Organisation trips (GPS tracking from whole organisation)
  * 
   * @param startDate 
   * @param endDate 
   * @param skip 
   * @param take 
   * @param userIds 
   * @param xChronosheetsAuth The ChronoSheets Auth Token
   * @return CsApiApiResponseForPaginatedListOrgReportTrip
  */
  public CsApiApiResponseForPaginatedListOrgReportTrip reportsGetOrganisationTrips (Date startDate, Date endDate, Integer skip, Integer take, String userIds, String xChronosheetsAuth) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'startDate' is set
    if (startDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'startDate' when calling reportsGetOrganisationTrips",
        new ApiException(400, "Missing the required parameter 'startDate' when calling reportsGetOrganisationTrips"));
    }
    // verify the required parameter 'endDate' is set
    if (endDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'endDate' when calling reportsGetOrganisationTrips",
        new ApiException(400, "Missing the required parameter 'endDate' when calling reportsGetOrganisationTrips"));
    }
    // verify the required parameter 'skip' is set
    if (skip == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'skip' when calling reportsGetOrganisationTrips",
        new ApiException(400, "Missing the required parameter 'skip' when calling reportsGetOrganisationTrips"));
    }
    // verify the required parameter 'take' is set
    if (take == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'take' when calling reportsGetOrganisationTrips",
        new ApiException(400, "Missing the required parameter 'take' when calling reportsGetOrganisationTrips"));
    }
    // verify the required parameter 'userIds' is set
    if (userIds == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'userIds' when calling reportsGetOrganisationTrips",
        new ApiException(400, "Missing the required parameter 'userIds' when calling reportsGetOrganisationTrips"));
    }
    // verify the required parameter 'xChronosheetsAuth' is set
    if (xChronosheetsAuth == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xChronosheetsAuth' when calling reportsGetOrganisationTrips",
        new ApiException(400, "Missing the required parameter 'xChronosheetsAuth' when calling reportsGetOrganisationTrips"));
    }

    // create path and map variables
    String path = "/api/Reports/GetOrganisationTrips";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "StartDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "EndDate", endDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "Skip", skip));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "Take", take));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "UserIds", userIds));
    headerParams.put("x-chronosheets-auth", ApiInvoker.parameterToString(xChronosheetsAuth));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (CsApiApiResponseForPaginatedListOrgReportTrip) ApiInvoker.deserialize(localVarResponse, "", CsApiApiResponseForPaginatedListOrgReportTrip.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Reports on Organisation trips (GPS tracking from whole organisation)
   * 
   * @param startDate    * @param endDate    * @param skip    * @param take    * @param userIds    * @param xChronosheetsAuth The ChronoSheets Auth Token
  */
  public void reportsGetOrganisationTrips (Date startDate, Date endDate, Integer skip, Integer take, String userIds, String xChronosheetsAuth, final Response.Listener<CsApiApiResponseForPaginatedListOrgReportTrip> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'startDate' is set
    if (startDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'startDate' when calling reportsGetOrganisationTrips",
        new ApiException(400, "Missing the required parameter 'startDate' when calling reportsGetOrganisationTrips"));
    }
    // verify the required parameter 'endDate' is set
    if (endDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'endDate' when calling reportsGetOrganisationTrips",
        new ApiException(400, "Missing the required parameter 'endDate' when calling reportsGetOrganisationTrips"));
    }
    // verify the required parameter 'skip' is set
    if (skip == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'skip' when calling reportsGetOrganisationTrips",
        new ApiException(400, "Missing the required parameter 'skip' when calling reportsGetOrganisationTrips"));
    }
    // verify the required parameter 'take' is set
    if (take == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'take' when calling reportsGetOrganisationTrips",
        new ApiException(400, "Missing the required parameter 'take' when calling reportsGetOrganisationTrips"));
    }
    // verify the required parameter 'userIds' is set
    if (userIds == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'userIds' when calling reportsGetOrganisationTrips",
        new ApiException(400, "Missing the required parameter 'userIds' when calling reportsGetOrganisationTrips"));
    }
    // verify the required parameter 'xChronosheetsAuth' is set
    if (xChronosheetsAuth == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xChronosheetsAuth' when calling reportsGetOrganisationTrips",
        new ApiException(400, "Missing the required parameter 'xChronosheetsAuth' when calling reportsGetOrganisationTrips"));
    }

    // create path and map variables
    String path = "/api/Reports/GetOrganisationTrips".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "StartDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "EndDate", endDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "Skip", skip));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "Take", take));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "UserIds", userIds));

    headerParams.put("x-chronosheets-auth", ApiInvoker.parameterToString(xChronosheetsAuth));

    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((CsApiApiResponseForPaginatedListOrgReportTrip) ApiInvoker.deserialize(localVarResponse,  "", CsApiApiResponseForPaginatedListOrgReportTrip.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Get Timesheets Raw Data
  * 
   * @param startDate 
   * @param endDate 
   * @param userIds 
   * @param sort 
   * @param order 
   * @param skip 
   * @param take 
   * @param xChronosheetsAuth The ChronoSheets Auth Token
   * @return CsApiApiResponseForPaginatedListRawReportItem
  */
  public CsApiApiResponseForPaginatedListRawReportItem reportsGetRawDataAdmin (Date startDate, Date endDate, String userIds, String sort, String order, Integer skip, Integer take, String xChronosheetsAuth) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'startDate' is set
    if (startDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'startDate' when calling reportsGetRawDataAdmin",
        new ApiException(400, "Missing the required parameter 'startDate' when calling reportsGetRawDataAdmin"));
    }
    // verify the required parameter 'endDate' is set
    if (endDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'endDate' when calling reportsGetRawDataAdmin",
        new ApiException(400, "Missing the required parameter 'endDate' when calling reportsGetRawDataAdmin"));
    }
    // verify the required parameter 'userIds' is set
    if (userIds == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'userIds' when calling reportsGetRawDataAdmin",
        new ApiException(400, "Missing the required parameter 'userIds' when calling reportsGetRawDataAdmin"));
    }
    // verify the required parameter 'sort' is set
    if (sort == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'sort' when calling reportsGetRawDataAdmin",
        new ApiException(400, "Missing the required parameter 'sort' when calling reportsGetRawDataAdmin"));
    }
    // verify the required parameter 'order' is set
    if (order == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'order' when calling reportsGetRawDataAdmin",
        new ApiException(400, "Missing the required parameter 'order' when calling reportsGetRawDataAdmin"));
    }
    // verify the required parameter 'skip' is set
    if (skip == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'skip' when calling reportsGetRawDataAdmin",
        new ApiException(400, "Missing the required parameter 'skip' when calling reportsGetRawDataAdmin"));
    }
    // verify the required parameter 'take' is set
    if (take == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'take' when calling reportsGetRawDataAdmin",
        new ApiException(400, "Missing the required parameter 'take' when calling reportsGetRawDataAdmin"));
    }
    // verify the required parameter 'xChronosheetsAuth' is set
    if (xChronosheetsAuth == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xChronosheetsAuth' when calling reportsGetRawDataAdmin",
        new ApiException(400, "Missing the required parameter 'xChronosheetsAuth' when calling reportsGetRawDataAdmin"));
    }

    // create path and map variables
    String path = "/api/Reports/GetRawDataAdmin";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "StartDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "EndDate", endDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "UserIds", userIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "Sort", sort));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "Order", order));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "Skip", skip));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "Take", take));
    headerParams.put("x-chronosheets-auth", ApiInvoker.parameterToString(xChronosheetsAuth));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (CsApiApiResponseForPaginatedListRawReportItem) ApiInvoker.deserialize(localVarResponse, "", CsApiApiResponseForPaginatedListRawReportItem.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Get Timesheets Raw Data
   * 
   * @param startDate    * @param endDate    * @param userIds    * @param sort    * @param order    * @param skip    * @param take    * @param xChronosheetsAuth The ChronoSheets Auth Token
  */
  public void reportsGetRawDataAdmin (Date startDate, Date endDate, String userIds, String sort, String order, Integer skip, Integer take, String xChronosheetsAuth, final Response.Listener<CsApiApiResponseForPaginatedListRawReportItem> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'startDate' is set
    if (startDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'startDate' when calling reportsGetRawDataAdmin",
        new ApiException(400, "Missing the required parameter 'startDate' when calling reportsGetRawDataAdmin"));
    }
    // verify the required parameter 'endDate' is set
    if (endDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'endDate' when calling reportsGetRawDataAdmin",
        new ApiException(400, "Missing the required parameter 'endDate' when calling reportsGetRawDataAdmin"));
    }
    // verify the required parameter 'userIds' is set
    if (userIds == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'userIds' when calling reportsGetRawDataAdmin",
        new ApiException(400, "Missing the required parameter 'userIds' when calling reportsGetRawDataAdmin"));
    }
    // verify the required parameter 'sort' is set
    if (sort == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'sort' when calling reportsGetRawDataAdmin",
        new ApiException(400, "Missing the required parameter 'sort' when calling reportsGetRawDataAdmin"));
    }
    // verify the required parameter 'order' is set
    if (order == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'order' when calling reportsGetRawDataAdmin",
        new ApiException(400, "Missing the required parameter 'order' when calling reportsGetRawDataAdmin"));
    }
    // verify the required parameter 'skip' is set
    if (skip == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'skip' when calling reportsGetRawDataAdmin",
        new ApiException(400, "Missing the required parameter 'skip' when calling reportsGetRawDataAdmin"));
    }
    // verify the required parameter 'take' is set
    if (take == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'take' when calling reportsGetRawDataAdmin",
        new ApiException(400, "Missing the required parameter 'take' when calling reportsGetRawDataAdmin"));
    }
    // verify the required parameter 'xChronosheetsAuth' is set
    if (xChronosheetsAuth == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xChronosheetsAuth' when calling reportsGetRawDataAdmin",
        new ApiException(400, "Missing the required parameter 'xChronosheetsAuth' when calling reportsGetRawDataAdmin"));
    }

    // create path and map variables
    String path = "/api/Reports/GetRawDataAdmin".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "StartDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "EndDate", endDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "UserIds", userIds));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "Sort", sort));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "Order", order));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "Skip", skip));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "Take", take));

    headerParams.put("x-chronosheets-auth", ApiInvoker.parameterToString(xChronosheetsAuth));

    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((CsApiApiResponseForPaginatedListRawReportItem) ApiInvoker.deserialize(localVarResponse,  "", CsApiApiResponseForPaginatedListRawReportItem.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Gets project cost estimations VS actual cost for date range and users
  * 
   * @param startDate 
   * @param endDate 
   * @param userIds 
   * @param xChronosheetsAuth The ChronoSheets Auth Token
   * @return CsApiApiResponseListProjectCostingReportItem
  */
  public CsApiApiResponseListProjectCostingReportItem reportsProjectCostingsAdmin (Date startDate, Date endDate, String userIds, String xChronosheetsAuth) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'startDate' is set
    if (startDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'startDate' when calling reportsProjectCostingsAdmin",
        new ApiException(400, "Missing the required parameter 'startDate' when calling reportsProjectCostingsAdmin"));
    }
    // verify the required parameter 'endDate' is set
    if (endDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'endDate' when calling reportsProjectCostingsAdmin",
        new ApiException(400, "Missing the required parameter 'endDate' when calling reportsProjectCostingsAdmin"));
    }
    // verify the required parameter 'userIds' is set
    if (userIds == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'userIds' when calling reportsProjectCostingsAdmin",
        new ApiException(400, "Missing the required parameter 'userIds' when calling reportsProjectCostingsAdmin"));
    }
    // verify the required parameter 'xChronosheetsAuth' is set
    if (xChronosheetsAuth == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xChronosheetsAuth' when calling reportsProjectCostingsAdmin",
        new ApiException(400, "Missing the required parameter 'xChronosheetsAuth' when calling reportsProjectCostingsAdmin"));
    }

    // create path and map variables
    String path = "/api/Reports/ProjectCostingsAdmin";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "StartDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "EndDate", endDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "UserIds", userIds));
    headerParams.put("x-chronosheets-auth", ApiInvoker.parameterToString(xChronosheetsAuth));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (CsApiApiResponseListProjectCostingReportItem) ApiInvoker.deserialize(localVarResponse, "", CsApiApiResponseListProjectCostingReportItem.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Gets project cost estimations VS actual cost for date range and users
   * 
   * @param startDate    * @param endDate    * @param userIds    * @param xChronosheetsAuth The ChronoSheets Auth Token
  */
  public void reportsProjectCostingsAdmin (Date startDate, Date endDate, String userIds, String xChronosheetsAuth, final Response.Listener<CsApiApiResponseListProjectCostingReportItem> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'startDate' is set
    if (startDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'startDate' when calling reportsProjectCostingsAdmin",
        new ApiException(400, "Missing the required parameter 'startDate' when calling reportsProjectCostingsAdmin"));
    }
    // verify the required parameter 'endDate' is set
    if (endDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'endDate' when calling reportsProjectCostingsAdmin",
        new ApiException(400, "Missing the required parameter 'endDate' when calling reportsProjectCostingsAdmin"));
    }
    // verify the required parameter 'userIds' is set
    if (userIds == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'userIds' when calling reportsProjectCostingsAdmin",
        new ApiException(400, "Missing the required parameter 'userIds' when calling reportsProjectCostingsAdmin"));
    }
    // verify the required parameter 'xChronosheetsAuth' is set
    if (xChronosheetsAuth == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xChronosheetsAuth' when calling reportsProjectCostingsAdmin",
        new ApiException(400, "Missing the required parameter 'xChronosheetsAuth' when calling reportsProjectCostingsAdmin"));
    }

    // create path and map variables
    String path = "/api/Reports/ProjectCostingsAdmin".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "StartDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "EndDate", endDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "UserIds", userIds));

    headerParams.put("x-chronosheets-auth", ApiInvoker.parameterToString(xChronosheetsAuth));

    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((CsApiApiResponseListProjectCostingReportItem) ApiInvoker.deserialize(localVarResponse,  "", CsApiApiResponseListProjectCostingReportItem.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
  /**
  * Timeseries jobs data for the logged in user
  * 
   * @param startDate 
   * @param endDate 
   * @param xChronosheetsAuth The ChronoSheets Auth Token
   * @return CsApiApiResponseListJobSeriesReportItem
  */
  public CsApiApiResponseListJobSeriesReportItem reportsUserJobsOverTime (Date startDate, Date endDate, String xChronosheetsAuth) throws TimeoutException, ExecutionException, InterruptedException, ApiException {
    Object postBody = null;
    // verify the required parameter 'startDate' is set
    if (startDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'startDate' when calling reportsUserJobsOverTime",
        new ApiException(400, "Missing the required parameter 'startDate' when calling reportsUserJobsOverTime"));
    }
    // verify the required parameter 'endDate' is set
    if (endDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'endDate' when calling reportsUserJobsOverTime",
        new ApiException(400, "Missing the required parameter 'endDate' when calling reportsUserJobsOverTime"));
    }
    // verify the required parameter 'xChronosheetsAuth' is set
    if (xChronosheetsAuth == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xChronosheetsAuth' when calling reportsUserJobsOverTime",
        new ApiException(400, "Missing the required parameter 'xChronosheetsAuth' when calling reportsUserJobsOverTime"));
    }

    // create path and map variables
    String path = "/api/Reports/UserJobsOverTime";

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();
    queryParams.addAll(ApiInvoker.parameterToPairs("", "StartDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "EndDate", endDate));
    headerParams.put("x-chronosheets-auth", ApiInvoker.parameterToString(xChronosheetsAuth));
    String[] contentTypes = {
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
    }

    String[] authNames = new String[] {  };

    try {
      String localVarResponse = apiInvoker.invokeAPI (basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames);
      if (localVarResponse != null) {
         return (CsApiApiResponseListJobSeriesReportItem) ApiInvoker.deserialize(localVarResponse, "", CsApiApiResponseListJobSeriesReportItem.class);
      } else {
         return null;
      }
    } catch (ApiException ex) {
       throw ex;
    } catch (InterruptedException ex) {
       throw ex;
    } catch (ExecutionException ex) {
      if (ex.getCause() instanceof VolleyError) {
        VolleyError volleyError = (VolleyError)ex.getCause();
        if (volleyError.networkResponse != null) {
          throw new ApiException(volleyError.networkResponse.statusCode, volleyError.getMessage());
        }
      }
      throw ex;
    } catch (TimeoutException ex) {
      throw ex;
    }
  }

      /**
   * Timeseries jobs data for the logged in user
   * 
   * @param startDate    * @param endDate    * @param xChronosheetsAuth The ChronoSheets Auth Token
  */
  public void reportsUserJobsOverTime (Date startDate, Date endDate, String xChronosheetsAuth, final Response.Listener<CsApiApiResponseListJobSeriesReportItem> responseListener, final Response.ErrorListener errorListener) {
    Object postBody = null;

    // verify the required parameter 'startDate' is set
    if (startDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'startDate' when calling reportsUserJobsOverTime",
        new ApiException(400, "Missing the required parameter 'startDate' when calling reportsUserJobsOverTime"));
    }
    // verify the required parameter 'endDate' is set
    if (endDate == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'endDate' when calling reportsUserJobsOverTime",
        new ApiException(400, "Missing the required parameter 'endDate' when calling reportsUserJobsOverTime"));
    }
    // verify the required parameter 'xChronosheetsAuth' is set
    if (xChronosheetsAuth == null) {
      VolleyError error = new VolleyError("Missing the required parameter 'xChronosheetsAuth' when calling reportsUserJobsOverTime",
        new ApiException(400, "Missing the required parameter 'xChronosheetsAuth' when calling reportsUserJobsOverTime"));
    }

    // create path and map variables
    String path = "/api/Reports/UserJobsOverTime".replaceAll("\\{format\\}","json");

    // query params
    List<Pair> queryParams = new ArrayList<Pair>();
    // header params
    Map<String, String> headerParams = new HashMap<String, String>();
    // form params
    Map<String, String> formParams = new HashMap<String, String>();

    queryParams.addAll(ApiInvoker.parameterToPairs("", "StartDate", startDate));
    queryParams.addAll(ApiInvoker.parameterToPairs("", "EndDate", endDate));

    headerParams.put("x-chronosheets-auth", ApiInvoker.parameterToString(xChronosheetsAuth));

    String[] contentTypes = {
      
    };
    String contentType = contentTypes.length > 0 ? contentTypes[0] : "application/json";

    if (contentType.startsWith("multipart/form-data")) {
      // file uploading
      MultipartEntityBuilder localVarBuilder = MultipartEntityBuilder.create();
      

      HttpEntity httpEntity = localVarBuilder.build();
      postBody = httpEntity;
    } else {
      // normal form params
          }

    String[] authNames = new String[] {  };

    try {
      apiInvoker.invokeAPI(basePath, path, "GET", queryParams, postBody, headerParams, formParams, contentType, authNames,
        new Response.Listener<String>() {
          @Override
          public void onResponse(String localVarResponse) {
            try {
              responseListener.onResponse((CsApiApiResponseListJobSeriesReportItem) ApiInvoker.deserialize(localVarResponse,  "", CsApiApiResponseListJobSeriesReportItem.class));
            } catch (ApiException exception) {
               errorListener.onErrorResponse(new VolleyError(exception));
            }
          }
      }, new Response.ErrorListener() {
          @Override
          public void onErrorResponse(VolleyError error) {
            errorListener.onErrorResponse(error);
          }
      });
    } catch (ApiException ex) {
      errorListener.onErrorResponse(new VolleyError(ex));
    }
  }
}
